table {
  margin-bottom: 30px;
  width: 100%;
}

table thead {
  color: #fff;
  background-color: #333;
}

table th, 
table td {
  padding: 5px;
  text-align: left;
}

table tr.expired {
  color: #444;
}

table tr.expired:hover {
  background-color: #eee;
}

table tr.active:hover {
  background-color: #ebf9eb;
}
